.description-container {
  max-width: 720px;
  margin: auto;
}

.description {
  max-width: 720px;
  margin: auto;
  color: #a6a6a6;
  font-size: 20px;
  padding-top: 40px;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  max-width: 720px;
  float: left;
  width: 50%;
  padding: 5px;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.sub-title{
  max-width: 720px;
  margin: auto;
  padding-bottom: 30px;
  color: #AE77FF;
  font-size: 30px;
}

.experience-box {
  max-width: 720px;
  margin: auto;
  text-align: left;

}

.experience {
  color: #a6a6a6;
  font-size: 20px;
}
