.container__items {
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 770px) {
  .container__items {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.nav-container { /* large container */
  max-width: 720px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .nav-container {
    margin-top: 15px;
  }
}

.nav-item {
  color: #909090;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.nav-item:hover,
.nav-item:focus {
  border-color: #AE77FF;
  color: #AE77FF;
  text-decoration: none;
}

.nav-item:last-child {
  margin-left: 40px;
}

.nav-container__items {
  display: flex;
  align-items: center;
}

.highlight {
  color: #AE77FF;
}

.title-container {
  max-width: 720px;
  margin: auto;
}

.title { /* large container */
  padding-top: 150px;
  color: #909090;
  display: inline-block;
  font-size: 40px;
}

@media (max-width: 600px) {
  .title {
    margin-top: 60px;
    margin-bottom: 140px;
  }
}

.intro {
  max-width: 720px;
  margin: auto;
  padding-top: 40px;
  font-size: 20px;
  color: #909090;
}

.icon-container {
  max-width: 720px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .icon-container {
    padding-bottom: 0px;
  }
}

.icon {
  color: #909090;
  transition: color 0.2s;
  font-size: 35px;
  margin-right: 30px;
}

.icon:hover {
  color: #AE77FF;
}

.link {
  text-decoration: none;
  color: #AE77FF;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.link:hover {
  text-decoration: none;
  color: #AE77FF;
  border-color: #AE77FF;
}

.sub-title{
  max-width: 720px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;
  color: #CCCCCC;
  font-size: 32px;
}

.project { /* large container */
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-shrink: 0;
  background-color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 10px;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.project:hover,
.project:focus {
  transform: translateY(-10px);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .project {
    flex-direction: column-reverse;
    padding: 20px;
  }
}

.project-image-container {
  flex: 1;
  text-align: center;
}

.project-image {
  flex: 1;
  max-width: 80%;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .project-image {
    margin-top: 0px;
    max-width: 75%;
  }
}

.project-text {
  flex: 1;
  text-align: left;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .project-text {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

.project-heading {
  font-size: 27px;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 10px;
  color: #909090;
  flex: 1;
  transition: color 0.2s;
}

.project:hover .project-heading {
/*  -webkit-text-stroke-color: #AE77FF;
  color: #FFFFFF;
  -webkit-text-stroke-width: 0.1px;  */
  color: #AE77FF;
  text-decoration: none;
}

.company {
  text-align: left;
  padding-right: 0px;
  color: #909090;
  font-size: 20px;
}

@media (max-width: 600px) {
  .company {
    text-align: center;
  }
}

.description-container {
  max-width: 720px;
  margin: auto;
}

.description {
  color: #909090;
  font-size: 20px;
  padding-top: 40px;
}

.footer-text {
  margin: auto;
  text-align: center;
  max-width: 720px;
  margin-top: 120px;
  margin-bottom: 40px;
  font-size: 18px;
  color: #909090
}





/* for about page specifically */
.image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  max-width: 720px;
  float: left;
  width: 50%;
  padding: 5px;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.experience-container {
  max-width: 720px;
  margin: auto;
  text-align: left;
}

.experience {
  color: #909090;
  font-size: 20px;
  margin-top: 0px;
}
