.html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fafafa;
}

.container__items {
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 770px) {
  .container__items {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.ul {
  list-style-type: none;
}

/* .outer-nav-container {
  background: #f1f1f1;
  padding-top: 2px;
  padding-bottom: 16px;
} */

.nav-container { /* large container */
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .nav-container {
    margin-top: 15px;
  }
}

.nav-item {
  color: #663399;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(#FAFAFA 50%, #FAFAFA 50%, #FAFAFA);
  transition: background 0.2s;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #FAFAFA; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-item-middle {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #663399;
  font-weight: 500;
  background: linear-gradient(#FAFAFA 50%, #FAFAFA 50%, #FAFAFA);
  transition: background 0.2s;
}

@media (max-width: 500px) {
  .nav-item-middle {
    margin-left: 20px;
  }
}

.nav-item:hover,
.nav-item:focus,
.nav-item:target,
.nav-item-middle:hover,
.nav-item-middle:focus, 
.nav-item-middle:target {
  background: linear-gradient(#FAFAFA 50%, #FCE9CC 50%, #FCE9CC);
  text-decoration: none;
  color: #663399;
}

.nav-item:last-child {
  margin-left: 40px;
}

@media (max-width: 500px) {
  .nav-item:last-child {
    margin-left: 20px;
  }
}

.nav-container__items {
  display: flex;
  align-items: center;
}

.title-container {
  max-width: 600px;
  margin: auto;
}

.title { /* large container */
  margin-top: 112px;
  margin-bottom: 24px;
  color: #555555;
  font-weight: 600;
  font-size: 28px;
}

@media (max-width: 500px) {
  .title {
    margin-top: 60px;
    margin-bottom: 64px;
  }
}

.intro {
  max-width: 600px;
  margin: auto;
  font-size: 16px;
  font-weight: 300;
  color: #555555;
}

.link {
  text-decoration: none;
  color: #663399;
  font-weight: 500;
  background: linear-gradient(#FAFAFA 50%, #FAFAFA 50%, #FAFAFA);
  transition: all 0.2s ease-in-out;
}

.link:hover, 
.link:target {
  background: linear-gradient(#FAFAFA 50%, #FCE9CC 50%, #FCE9CC);
  text-decoration: none;
  color: #663399;
}

.link-tooltip {
  text-decoration: none;
  color: #555555;
  background-color: #F1E7FF;
  padding: 0em 0.1em;
  border-bottom: 2px solid transparent;
  transition: background-color 0.2s;
}

/* Tooltip text */
.link-tooltip .tooltiptext {
  visibility: hidden;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  width: 160px;
  background-color: #FCE9CC;
  text-align: center;
  padding: 10px;
  border-radius: 4px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 52%;
  left: 15%;
  margin-left: -100px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.link-tooltip:hover .tooltiptext {
  visibility: visible;
}

.sub-title {
  max-width: 600px;
  margin: auto;
  margin-top: 56px;
  margin-bottom: 32px;
  color: #bdbdbd;
  font-size: 28px;
  font-weight: 400;
}


/* project cards */
/************************************************************************/
.project-container { /* large container */
  max-width: 600px;
  margin: 0 auto;
  margin-top: 32px;
  text-align: left;
  transition-property: transform;
  transition-duration: 0.2s;
}

.project-container img {
  flex: 1;
  padding-top: 40px;
  max-width: 80%;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition-property: background;
}

.project-image-container {
  max-width: 600px;
  border-radius: 8px;
  width: 100%;
  background: #F3F3F3;
  transition-property: transform, background;
  transition-duration: 0.2s;
}

.project-container:hover {
  transform: translateY(-5px);
}

.project-container:hover .project-image-container {
  background: #EEEEEE;
}

@media (max-width: 500px) {
  .project-container {
    flex-direction: column-reverse;
    padding-bottom: 24px;
  }
}

.project-text-container {
  text-align: left;
  padding-bottom: 8px;
  text-decoration: none;
}

@media (max-width: 500px) {
  .project-text-container {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
  }
}

.project-heading {
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  color: #555555;
  line-height: 16px;
}

.company {
  text-align: left;
  color: #a5a5a5;
  font-size: 12px;
  font-weight: 400;
  transition: color 0.2s;
  line-height: 2px;
}

.project-container:hover .company {
  color: #555555;
}

@media (max-width: 500px) {
  .company {
    text-align: left;
  }
}
/************************************************************************/
/* project cards */


/* footer */
/************************************************************************/
.footer-text {
  margin: auto;
  text-align: center;
  max-width: 600px;
  padding-bottom: 64px;
  font-size: 12px;
  color: #555555
}

.footer-container {
  display: flex; 
  flex-direction: row;
  max-width: 600px;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 500px) {
  .footer-container {
    gap: 32px;
    margin-top: 24px;
    flex-direction: column;
    align-items: flex-start;
  }
}
/************************************************************************/
/* footer */


/* about page-specific styles */
/************************************************************************/
.image-container {
  max-width: 600px;
  margin: auto;
}

.image {
  margin-top: 40px;
  margin-bottom: 20px;
}

.experience-container {
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.experience {
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
  font-size: 16px;
}
/************************************************************************/
/* about page-specific styles */


/* case study styles */
/************************************************************************/
.h1 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 40px;
}

.h2 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 32px;
}

.h3 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 24px;
}

.text {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
}

.callout {
  background: #EEEEEE;
  border-radius: 8px;
}

.cs-image-container {
  max-width: 600px;
  margin: 0 auto;
  background: #F3F3F3;
  border-radius: 8px;
}

.cs-image-container img {
  flex: 1;
  padding-top: 40px;
  max-width: 80%;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


/************************************************************************/
/* case study styles */
